.map{
    z-index: 0;
}
.latitude{
    position: absolute;
    top: 350px;
    left: 30px;
    z-index: 3;
    height: 60px;
}

.longitude{
    position: absolute;
    top: 420px;
    left: 30px;
    z-index: 3;
    height: 60px;
}

.localizar{
    position: absolute;
    top: 500px;
    left: 30px;
    z-index: 3;
    height: 20px;
}

